@mixin breakpoint($point) {

  @if $point == small-desktop {
    @media (max-width: 990px) { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 850px)  { @content ; }
  }
  @else if $point == small-mobile {
    @media (max-width: 480px)  { @content ; }
  }
}