@import url('https://fonts.googleapis.com/css?family=Nunito:400,800,800i,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

$main-font: 'Nunito', sans-serif;
$content-font: 'Lato', sans-serif;

