.download-app-block {
  display: flex;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 95px;
  max-width: 900px;

  @include breakpoint(mobileonly) {
    display: block;
    text-align: center;
  }

  .download-app-block-content {
    flex: 1 1 55%;
    text-align: center;

    .lama-icon img{
      max-width: 200px;

      @include breakpoint(mobileonly) {
        max-width: 150px;
      }
    }

    .water-lama-title {
      color: $main-text-color;
      font-family: $main-font;
      font-size: 30px;
      font-weight: 700;
      margin: 0;
      padding-top: 25px;

      @include breakpoint(mobileonly) {
        font-size: 35px;
        padding-top: 21px;
      }
    }

    .app-description {
      color: #938F8C;
      font-family: $content-font;
      font-size: 20px;
      margin: 0;

      @include breakpoint(mobileonly) {
        font-size: 18px;
      }
    }

    .download-button {
      padding-top: 25px;

      @include breakpoint(mobileonly) {
        padding-top: 20px;
      }

      & img {
        max-width: 300px;

        @include breakpoint(mobileonly) {
          max-width: 240px;
        }
      }
    }

    .app-rating-line {
      text-align: center;
      padding-top: 20px;

      .rating-stars {
        display: inline-block;
        vertical-align: middle;

        & svg {
          vertical-align: middle;
          max-width: 160px;
        }
      }
      .rating-number {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
        color: #FAC71B;
        font-family: $content-font;
        font-size: 21px;
        font-weight: 900;
        margin: 0;

        @include breakpoint(mobileonly) {
          font-size: 18px;
        }
      }
    }
  }

  .mobile-app-preview {
    flex: 1 1 45%;
    margin-left: 10px;

    @include breakpoint(mobileonly) {
      margin-top: 50px;
    }

    & img {
      max-width: 300px;
    }
  }
}