.features-block {
  margin-top: 126px;
  margin-bottom: 30px;
  max-width: 900px;

  @include breakpoint(mobileonly) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .features-title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 60px;
    color: $main-text-color;
    text-align: center;
    margin: 0 auto;
    line-height: 100%;

    @include breakpoint(mobileonly) {
      padding-top: 65px;
      max-width: 320px;
      font-size: 35px;
    }
  }

  .mobile-preview-img-mobileonly {
    display: none;

    @include breakpoint(mobileonly) {
      display: block;
      margin-top: 30px;
      text-align: center;

      & img {
        max-width: 300px;
      }
    }
  }

  .features-block-content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobileonly) {
      padding: 55px 10px 65px;
    }

    .features-block {
      flex: 0 1 20%;

      @include breakpoint(mobileonly) {
        flex: 0 1 10%;
        margin-left: 5px;
        margin-right: 5px;
      }

      .features-items {
        padding-bottom: 50px;
        display: flex;
        align-items: center;

        @include breakpoint(mobileonly) {
          padding-bottom: 0;
          height: 80px;
        }

        .feature-icon {
          flex: 0 1 15%;
          text-align: center;

          svg {
            width: 51px;
          }

          @include breakpoint(mobileonly) {
            width: 75px;
          }
        }
        .feature-name {
          flex: 1 1 10%;
          margin-left: 15px;

          @include breakpoint(mobileonly) {
            max-width: 100px;
            margin-left: 10px;
          }

          .unique-feature-name {
            margin: 0;
            font-family: $content-font;
            font-size: 18px;
            font-weight: 700;
            color: $main-text-color;
            max-width: 136px;
            line-height: 20px;

            @include breakpoint(mobileonly) {
              font-size: 16px;
            }
          }

          .unique-icon {
            margin-top: 2px;
          }
        }
      }
    }

    .mobile-preview-img {
      margin-left: 95px;
      margin-right: 95px;
      margin-top: 25px;

      @include breakpoint(mobileonly) {
        display: none;
      }

      & img {
        max-width: 300px;
      }
    }
  }
}
