.landing-page {

  .home-block {
    position: relative;
    background-image: linear-gradient(#21D0E6,#189DCB);
    height: 100%;

    .home-block-content {
      display: flex;
      align-items: center;

      @include breakpoint(small-desktop) {
        display: block;
        flex: none;
        margin: 0 auto;
      }
    }

    .call-to-action {
      flex: 1 1 70%;
      text-align: center;

      @include breakpoint(small-desktop) {
        margin: 0 auto;
      }

      .award-image {
        margin-top: 67px;
        max-width: 495px;

        svg {
          width: 200px;

          @include breakpoint(mobileonly) {
            width: 110px;
          }
        }

        @include breakpoint(small-desktop) {
          padding-top: 20px;
          margin-top: 0;
          max-width: 100%;
        }
      }

      .call-to-action-text {
        font-family: $main-font;
        font-size: 50px;
        font-weight: 800;
        text-align: center;
        color: $white;
        max-width: 530px;
        margin-top: 27px;
        line-height: 60px;

        @include breakpoint(small-desktop) {
          padding-top: 20px;
          margin: 0 auto;
        }

        @include breakpoint(mobileonly) {
          font-size: 26px;
          padding-top: 0;
          max-width: 280px;
          line-height: 28px;
        }
      }

      .download-button {
        margin-top: 35px;
        max-width: 495px;

        @include breakpoint(small-desktop) {
          display: none;
        }

        & img {
          max-width: 300px;
        }
      }

      .scroll-button-wrapper{
        max-width: 495px;

        @include breakpoint(small-desktop) {
          display: none;
        }

        .scroll-button {
          cursor: pointer;
          display: block;
          margin: 35px auto 25px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }

    .app-preview {
      flex: 1 1 40%;
      align-self: flex-end;
      margin-left: 20px;

      @include breakpoint(small-desktop) {
        margin-left: 0;
      }

      .app-preview-content {
        margin-top: 55px;
        position: relative;
        margin-bottom: -4px;

        @include breakpoint(small-desktop) {
          margin: 55px auto;
          max-width: 400px;
        }

        @include breakpoint(mobileonly) {
          margin-bottom: 0;
          margin-top: 25px;
          max-width: 270px;
        }

        .phone-border img {
          max-width: 400px;

          @include breakpoint(small-desktop) {
            display: block;
          }

          @include breakpoint(mobileonly) {
            max-width: 270px;
          }
        }

        .phone-content {
          position: absolute;
          top: 0;
          padding-top: 52px;
          padding-left: 22px;

          @include breakpoint(small-desktop) {
            padding-top: 53px;
            padding-left: 23px;
          }

          @include breakpoint(mobileonly) {
            padding-top: 35px;
            padding-left: 15px;
          }

          & img {
            max-width: 356px;

            @include breakpoint(small-desktop) {
              max-width: 355px;
            }

            @include breakpoint(mobileonly) {
              max-width: 240px;
            }
          }
        }
      }
    }
  }
}

