.img-block {

  .img-block-content {
    margin: 0 25px 0;
  }
}
.img-wrapper {
  margin: 0 auto;
}

.notification-img-block {
  background-image: linear-gradient(#FE8DB6,#BE7EC8);

  .notification-img-block-content {
    padding: 225px 0 245px;

    @include breakpoint(mobileonly) {
      padding: 122px 0 121px;
    }

    & img {
      display: block;
      max-width: 706px;
      width: 100%;
    }
  }
}

.trackwater-img-block {
  background-image: linear-gradient(#FEBE00,#F97800);

  .trackwater-img-block-content img {
    display: block;
      max-width: 800px;
      width: 100%;

  }
}

.showoff-img-block {
  background-image: linear-gradient(#97685C,#4E2D2E);

  .showoff-img-block-content img {
    display: block;
    max-width: 915px;
    width: 100%;
  }
}

.companions-img-block {
  background-image: linear-gradient(#FE8769,#D24162);

  .companions-img-block-content img {
    display: block;
    max-width: 1007px;
    width: 100%;
  }
}

.calendar-img-block {
  background-image: linear-gradient(#26E9C8,#7273D1);

  .calendar-img-block-content img {
    display: block;
    max-width: 700px;
    width: 100%;
  }
}

.glasses-img-block {
  background-image: linear-gradient(#21D0E6,#189DCB);

  .glasses-img-block-content img {
    display: block;
    max-width: 888px;
    width: 100%;
  }
}