.content-container {
  @include breakpoint(mobileonly) {
    padding: 0;
  }
}
.press-kit-block {
  text-align: center;

  .press-kit-block-wrapper {
    background-image: linear-gradient(#FCFCFC,#F4F4F4);
    border-radius: 50px;
    max-width: 800px;
    margin: 0 auto;

    @include breakpoint(mobileonly) {
      border-radius: 0;
      max-width: 850px;
    }

    .press-kit-content{
      padding: 75px 50px;
      text-align: center;


      .press-kit-title {
        font-size: 30px;
        font-family: $main-font;
        font-weight: 700;
        color: $main-text-color;
        text-align: center;
        margin: 0 auto;
        line-height: 100%;

        @include breakpoint(mobileonly) {
          font-size: 35px;
        }
      }

      .default-text {
        margin: 0 auto;
        padding-top: 20px;
        font-family: $content-font;
        font-size: 20px;
        color: $main-text-color;
        max-width: 700px;
        line-height: 28px;

        @include breakpoint(mobileonly) {
          padding-top: 13px;
          max-width: 325px;
          line-height: 26px;
        }
      }

      .download-button {
        font-family: $content-font;
        font-weight: 900;
        background: #48B2D1;
        border: none;
        border-radius: 50px;
        color: $white;
        font-size: 22px;
        cursor: pointer;
        max-width: 280px;
        height: 80px;
        width: 100%;
        text-decoration: none;
        text-align: center;
        margin-top: 41px;
        padding: 10px 30px;
      }
    }
  }

  .social-media-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    .social-media-icons {
      flex: 0 1 7%;
      padding-left: 10px;

      & svg{
        max-width: 70px;
      }
    }
  }
  .footer-copyright-block {
    margin-top: 52px;

    .footer-copyright-block-text {
      font-family: $content-font;
      font-size: 16px;
      color: #AFACAA;
      margin: 52px 0 120px;
    }
  }
}