.review-scroll-block {
  background-image: linear-gradient(#21D0E6,#189DCB);

  .review-scroll-block-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;

    @include breakpoint(mobileonly) {
      flex-wrap: wrap;
      padding: 70px 0 54px;
  }

    .icons {

      svg {
        width: 70px;
        cursor: pointer;
      }

      @include breakpoint(mobileonly) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .icon-left {
      flex: 0 1 0;

      @include breakpoint(mobileonly) {
        flex: none;
        order: 2;
      }
    }

    .review-scroll-block-text {
      flex: 0 1 63%;

      @include breakpoint(mobileonly) {
        flex: 1 0 100%;
        padding-bottom: 26px;
      }

      .slide {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-left: 10px;
        padding-right: 10px;
      }

      .mark-img {
        text-align: left;

        svg{
          @include breakpoint(mobileonly) {
            width: 149px;
          }
        }
      }

      .title-text {
        font-family: $main-font;
        font-weight: 800;
        font-style: italic;
        font-size: 35px;
        color: $white;
        margin: 0;
        padding-top: 25px;
        line-height: 38px;

        @include breakpoint(mobileonly) {
          font-size: 25px;
          padding-top: 15px;
          line-height: 28px;
        }
      }

      .review-mail-text {
        font-family: $content-font;
        font-size: 23px;
        color: $white;
        margin: 0;
        padding-top: 15px;
        line-height: 33px;

        @include breakpoint(mobileonly) {
          font-size: 18px;
          line-height: 27px;
        }
      }

      .reviewer-info {
        position: relative;
        font-family: $content-font;
        font-size: 23px;
        color: $main-text-color;
        padding-top: 39px;
        padding-left: 45px;
        margin: 0;
        line-height: 33px;
        opacity: 70%;

        &:before {
          display: block;
          content: "";
          top: 52px;
          left: 0;
          position: absolute;
          width: 30px;
          height: 0;
          border: 1px solid $main-text-color;
        }

        @include breakpoint(mobileonly) {
          font-size: 18px;
          padding-top: 29px;
          line-height: 27px;
        }
      }
    }

    .icon-right {
      flex: 0 1 0;

      @include breakpoint(mobileonly) {
        flex: none;
        display: block;
        order: 3;
        text-align: right;
      }
    }
  }
}