.scrollbar-block {
  background-image: linear-gradient(#7EE475,#139690);

  .scrollbar-block-content {
    padding: 150px 0;
    text-align: center;
    overflow: hidden;

    @include breakpoint(mobileonly) {
      padding: 70px 35px;
    }

    .review-scroll-block-content-wrapper {
      position: relative;
      display: inline-block;

      @include breakpoint(mobileonly) {
        display: block;
      }

      .bear-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(-100% + 50px);

        @include breakpoint(mobileonly) {
          position: relative;
          top: 0;
          transform: none;
          left: 0;
        }

        & img {
          max-width: 400px;

          @include breakpoint(mobileonly) {
            max-width: 300px;
            width: 100%;
          }
        }
      }

      .sloth-icon {

        @include breakpoint(mobileonly) {
          margin-top: 15px;
        }

        & img {
          max-width: 500px;

          @include breakpoint(mobileonly) {
            max-width: 300px;
            width: 100%;
          }
        }
      }

      .cheetah-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(-100% + 50px);

        @include breakpoint(mobileonly) {
          position: relative;
          top: 0;
          transform: none;
          right:0;
          margin-top: 15px;
        }

        & img {
          max-width: 400px;

          @include breakpoint(mobileonly) {
            max-width: 300px;
            width: 100%;
          }
        }
      }
    }
  }
}