.sticky-block {
  margin: 0 auto;
  padding: 16px 30px;
  position: relative;

  &.--stuck {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 99999;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  }

  a {
    margin: 0;
  }

  @include breakpoint(mobileonly) {
    margin: 0 auto;
    padding: 0 10px;
  }

  .sticky-block-content {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;

    @include breakpoint(mobileonly) {
      display: none;
    }

    .kit-button {
      flex: 0 1 60%;

      .press-kit-button {
        width: 112px;
        height: 40px;
        outline: none;
        border: none;
        background-color: #F0EFEE;
        color: rgb(37,49,65,0.7);
        border-radius: 25px;
        font-family: $content-font;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }
    }

    .sticky-block-items {
      display: flex;
      align-items: center;

      .rating-block {
        text-align: right;

        .water-lama-title {
          color: $main-text-color;
          font-family: $main-font;
          font-size: 20px;
          font-weight: 800;
          margin: 0;
        }

        .app-description {
          color: #253141;
          opacity: 70%;
          font-family: $content-font;
          font-size: 15px;
          width: 250px;
          margin: 0;
        }

        .app-rating-line {
          display: inline-block;
          vertical-align: middle;

          .rating-number {
            display: inline-block;
            vertical-align: middle;
            color: #FAC71B;
            font-family: $content-font;
            font-size: 13px;
            font-weight: 900;
            margin: 0;
            padding-top: 2px;
          }

          .rating-stars {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1px;

            & svg {
              vertical-align: middle;
              width: 95px;
              height: 16px;
            }
          }
        }
      }

      .lama-icon {
        margin-left: 15px;

        & img {
          width: 56px;
          height: 56px;
        }
      }

      .download-button {
        margin-left: 15px;

        & img {
          width: 180px;
          height: 60px;
        }
      }
    }
  }

  .sticky-block-mobile-content {
    display: none;

    @include breakpoint(mobileonly) {
      display: flex;
      align-items: center;
      margin-top: 20px;
      justify-content: center;

      .kit-button {
        flex: 1 1 10%;
        align-self: flex-start;

        .press-kit-button {
          height: 60px;
          width: 75px;
          outline: none;
          border: none;
          border-right: 2px solid #F0EFEE;
          color: #AFACAA;
          background: none;
          font-family: $content-font;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
        }
      }

      .water-lama-text-block {
        flex: 1 1 15%;
        text-align: right;
        align-self: flex-start;
        padding-left: 5px;
        padding-right: 5px;

        .water-lama-title {
          color: $main-text-color;
          font-family: $main-font;
          font-size: 16px;
          font-weight: 400;
          margin: 0;
          max-width: 120px;
        }

        .app-description {
          color: #253141;
          opacity: 70%;
          font-family: $content-font;
          font-size: 13px;
          max-width: 120px;
          margin: 0;
        }
      }

      .mobile-rating-block {
        flex: 1 1 1%;
        padding-left: 10px;
        padding-right: 10px;

        .download-button  {

          img {
            width: 150px;
            display: block;
          }

          a {
            margin: 0;
            display: block;
          }
        }

        .app-rating-line {
          display: inline-block;
          vertical-align: middle;
          padding-left: 5px;

          .rating-stars {
            display: inline-block;
            vertical-align: middle;
            line-height: 15px;

            svg {
              display: inline-block;
              vertical-align: middle;
              width: 60px;
              height: 25px;
              line-height: 15px;
            }
          }

          .rating-number {
            display: inline-block;
            vertical-align: middle;
            color: #FAC71B;
            font-family: $content-font;
            font-size: 12px;
            font-weight: 900;
            margin: 0;
            line-height: 15px;
            padding-left: 2px;
          }
        }
      }
    }
  }
}
