html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-container {
  margin: 0 auto;
  padding: 0 124px;
  max-width: 1280px;

  @include breakpoint(mobileonly) {
    padding: 0 18px;
  }
}

.functional-block {
  text-align: center;
  padding: 126px 124px 151px;

  @include breakpoint(mobileonly) {
    padding: 100px 25px 100px;
  }

  .functional-block-title {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;

    @include breakpoint(mobileonly) {
      max-width: 320px;
      line-height: 35px;
    }

    .functional-block-icon {
      padding-left: 15px;
      float: right;
      display: inline-block;
      vertical-align: middle;
      line-height: 70px;

      @include breakpoint(mobileonly) {
        line-height: 35px;
        float: none;
        padding-left: 9px;
      }

      svg {
        width: 108px;
        display: inline-block;
        vertical-align: middle;

        @include breakpoint(mobileonly) {
          width: 77px;
          float: none;
          padding-left: 0;
        }
      }
    }

    .default-title {
      font-family: $main-font;
      font-weight: 800;
      font-size: 60px;
      color: $main-text-color;
      margin: 0 auto;
      display: inline-block;
      vertical-align: middle;
      line-height: 70px;

      @include breakpoint(mobileonly) {
        font-size: 35px;
        line-height: 35px;
      }
    }
  }

  .functional-block-info {
    margin-top: 15px;

    @include breakpoint(mobileonly) {
      margin-top: 10px;
    }

    .default-text {
      margin: auto;
      font-family: $content-font;
      font-size: 25px;
      color: $main-text-color;
      opacity: 80%;
      max-width: 700px;
      line-height: 35px;

      @include breakpoint(mobileonly) {
        font-size: 18px;
        max-width: 350px;
        line-height: 26px;
      }
    }
  }
}



